<div>
  <h2 id="page-heading" data-cy="MessageHeading">
    <span jhiTranslate="tmp3App.message.home.title">Messages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="tmp3App.message.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-message"
        [routerLink]="['/message/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tmp3App.message.home.createLabel">Create a new Message</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (messages().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="tmp3App.message.home.notFound">No Messages found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priority">
              <div class="d-flex">
                <span jhiTranslate="tmp3App.message.priority">Priority</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="topic">
              <div class="d-flex">
                <span jhiTranslate="tmp3App.message.topic">Topic</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="data">
              <div class="d-flex">
                <span jhiTranslate="tmp3App.message.data">Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="tmp3App.message.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="receivedAt">
              <div class="d-flex">
                <span jhiTranslate="tmp3App.message.receivedAt">Received At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (message of messages(); track trackId(message)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/message', message.id, 'view']">{{ message.id }}</a>
              </td>
              <td>{{ message.priority }}</td>
              <td>{{ message.topic }}</td>
              <td>{{ message.data }}</td>
              <td [jhiTranslate]="'tmp3App.Status.' + (message.status ?? 'null')">
                {{
                  { null: '', RECEIVED: 'RECEIVED', WAITING: 'WAITING', COMPLETED: 'COMPLETED', ERROR: 'ERROR' }[message.status ?? 'null']
                }}
              </td>
              <td>{{ message.receivedAt | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/message', message.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/message', message.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(message)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
